---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-3">
    <!-- 替换photo.jpg为你的照片路径，Your Name替换为你的姓名 -->
    <img src="{{ site.github.url }}/assets/img/photo.jpg" alt="Liming Tan" class="img-fluid rounded-circle">
  </div>
  <div class="col-md-9">
    <h1>Your Name</h1>
  </div>
</div>


<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">CV</h3>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Education</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.education %}
          <p class="fw-bold">{{ section.title }}</p>
          <p>{{ section.description }}</p>
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Academic Experience</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.academic-experience %}
          <p class="fw-bold">{{ section.title }}</p>
          <p>{{ section.description }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
