---
layout: default
---
<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h3 class="fw-bold">Research</h3>
    {{ 'We aim to understand cross-species mechanisms by which genetic programs and experience regulate the brain development and 
    dysfunction at different levels. To do this, we use state-of-art molecular, cellular, circuit, physiological, 
    anatomical and behavioral approaches in mouse and non-human primates. Our recent work demonstrated that visual experience is 
    required for both the functional and cell-type specification of L2/3 glutamatergic neurons in the mouse primary visual cortex 
    (Tan et al., Neuron 2020, Current Biology 2021, J. Neurosci. 2022; Cheng, Butrus and Tan et al., Cell 2022). 
    We are building up and expanding our research topics from these findings, to ask how experience regulates the development of 
    cell-type specific circuits at whole brain level. In addition, we are trying to rebuild eye-brain circuits in large 
    animal models of optic nerve disease. The ultimate goal of our research is to treat brain dysfunction in human.' }}
  </div>
  <div class="col-md-6 text-center">
    <img src="{{ site.github.url }}/assets/img/cell_graph.jpg" alt="Home" class="img-fluid" width="70%" style="display: inline-block; margin-left: 20px;">
  </div>
</div>
<div class="row g-5 mb-5">
  <div class="col-md-6" style="position: relative; top: -50px;">
    <h3 class="fw-bold border-bottom pb-3 mb-5">CV</h3>
    <h4>Education</h4>
    {% for edu in site.data.cv.education %}
      <p class="fw-bold">{{ edu.title }}</p>
      <p>{{ edu.description }}</p>
    {% endfor %}
    <h4>Academic Experience</h4>
    {% for exp in site.data.cv.academic-experience %}
      <p class="fw-bold">{{ exp.title }}</p>
      <p>{{ exp.description }}</p>
    {% endfor %}
  </div>
  <div class="col-md-6 text-center">
    <img src="{{ site.github.url }}/assets/img/neurotree_limingtan.png" alt="Your Name" class="img-fluid" style="max-width:580px;">
  </div>
</div>


{% include publications.html %}

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div>
