---
layout: default
---

{{ content }}

<!-- People Section -->
<h3 class="fw-bold border-bottom pb-3 mb-5">People</h3>

{% assign gridTypes = "Postdoctoral Scholars,Graduate Students,Research Staff" | split: "," %}
{% assign people_by_type = site.data.settings.people | group_by: "type" %}
{% for group in people_by_type %}
  <!-- 分组标题：每个分组的 type 标题以大字号、加粗、黑色显示 -->
  <div class="row mb-4">
    <div class="col-12">
      <h3 style="color: black; font-size: 2em; font-weight: bold;">{{ group.name }}</h3>
    </div>
  </div>
  
  {% if group.name == "Principle Investigator" %}
    <!-- Principle Investigator：左右布局，居中显示 -->
    {% for person in group.items %}
      <div class="row g-5 mb-5 justify-content-center">
        <!-- 左侧：照片 -->
        <div class="col-md-5 text-center">
          <img src="{{ site.github.url }}/{{ person.image }}" alt="{{ person.name }}" class="img-fluid" style="max-width:300px; margin: auto;">
        </div>
        <!-- 右侧：详细信息 -->
        <div class="col-md-5 text-center">
          <h1 style="color: green; font-weight: bold; font-size: 2em;">{{ person.name }}</h1>
          <p style="color: grey; font-size: small;">{{ person.title }}</p>
          <p style="color: black; font-size: small;">{{ person.department }}, {{ person.institution }}</p>
          <p style="color: black; font-size: small;">{{ person.email }}</p>
          <p style="color: black; font-size: small;">{{ person.description }}</p>
        </div>
      </div>
    {% endfor %}
  
  {% elsif gridTypes contains group.name %}
    <!-- 网格布局：每行显示 3 个 -->
    <div class="container">
      {% for person in group.items %}
        {% if forloop.index0 | modulo: 3 == 0 %}
          <div class="row">
        {% endif %}
        
        <div class="col-md-4 mb-5 text-center">
          <img src="{{ site.github.url }}/{{ person.image }}" alt="{{ person.name }}" class="img-fluid" style="max-width:200px;">
          <h4 style="color: green; font-weight: bold; font-size: 1.5em;">{{ person.name }}</h4>
          <p style="color: grey; font-size: small;">{{ person.title }}</p>
          <p style="color: black; font-size: small;">{{ person.department }}, {{ person.institution }}</p>
          <p style="color: black; font-size: small;">{{ person.email }}</p>
          <p style="color: black; font-size: small;">{{ person.description }}</p>
        </div>
        
        {% if forloop.index0 | modulo: 3 == 2 or forloop.last %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  
  {% else %}
    <!-- 默认左右布局 -->
    {% for person in group.items %}
      <div class="row g-5 mb-5">
        <div class="col-md-6">
          <img src="{{ site.github.url }}/{{ person.image }}" alt="{{ person.name }}" class="img-fluid" style="max-width:300px;">
        </div>
        <div class="col-md-6">
          <h1 style="color: green; font-weight: bold; font-size: 2em;">{{ person.name }}</h1>
          <p style="color: grey; font-size: small;">{{ person.title }}</p>
          <p style="color: black; font-size: small;">{{ person.department }}, {{ person.institution }}</p>
          <p style="color: black; font-size: small;">{{ person.email }}</p>
          <p style="color: black; font-size: small;">{{ person.description }}</p>
        </div>
      </div>
    {% endfor %}
  {% endif %}
{% endfor %}

<!-- Group Photo Section -->
<div class="row g-5 mb-5">
  <div class="col-12 text-center">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Group Photo</h3>
    <img src="{{ site.github.url }}/assets/img/group_photo.jpg" alt="Group Photo" class="img-fluid" style="max-width:100%;">
  </div>
</div>

<!-- Alumni Section -->
<h3 class="fw-bold border-bottom pb-3 mb-5">Alumni</h3>
{% assign alumni_by_type = site.data.settings.alumni | group_by: "type" %}
{% for group in alumni_by_type %}
  {% if group.name != "Principle Investigator" %}
    <!-- 显示 Alumni 分组标题：绿色、大字号、不加粗 -->
    <div class="row mb-4">
      <div class="col-12">
        <h3 style="color: green; font-size: 2em; font-weight: normal;">{{ group.name }}</h3>
      </div>
    </div>
    {% for person in group.items %}
      <div class="mb-4">
        <!-- 第一行：姓名 - title - 年份 -->
        <p style="color: green; font-size: 1.5em; font-weight: normal;">{{ person.name }} , {{ person.title }} , {{ person.year }}</p>
        <!-- 第二行：职位 - 去向 -->
        <p style="color: black; font-size: small;">{{ person.position }} , {{ person.career }}</p>
      </div>
    {% endfor %}
  {% endif %}
{% endfor %}
